<h1>book show</h1>

<table>
  <thead>
    <th>id</th>
    <th>title</th>
    <th>category</th>
    <th>author</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @book.id %></td>
      <td><%= @book.title %></td>
      <td><%= @book.category %></td>
      <td><%= @book.author %></td>
    </tr>
  </tbody>
</table>